body {
    color: #777;
	}
/*@font-face {
				font-family: Cantarell;
				src: url(Cantarell.ttf);
			}
*/
/*------Accordion effect -------*/

#menu li, #menu .pointer, #menu h1, #menu p {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#menu {
  margin-bottom:30px;
}
#menu h1 {
  line-height:1.2;
  font-size:20px;
  background-color:rgba(255,0,0,0.3);
  margin:0;
  padding: 10px 10px 10px 30px;
}

#menu h1 a {
  color:black;
}
#menu li {
  overflow:hidden;
  height:220px;
  border:1px #333 solid;
}
#menu p {
  padding:0 10px;
  color:black;
}
#menu li.ac_hidden p:not(.pointer) {
  color:#fff;
}

#menu li.ac_hidden {
  height:44px;
}
#menu .pointer {
  padding:0;
  margin:10px 0 0 6px;
  line-height:20px;
  width:13px;
  position:absolute;
}
#menu li:not(.ac_hidden) h1 {
  background-color:rgba(255,0,0,0.7);
}

#menu li:not(.ac_hidden) .pointer {
  display:block;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  transform:rotate(90deg);
  padding:0;
}
/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
}
    #layout.active { /* Inedit para di na mag-move 'yung content*/
        position: relative;
		/*left: 150px;*/
        /* left: 220px; tinanggal para di na mag-move*/
    }
        #layout.active #menu {
            left: 200px;
            width: 200px;
        }

        #layout.active .menu-link {
            left: 200px;
        }
/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
		}


.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #1A1A1A;
}
/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu{
    margin-left: -201px; /* "#menu" width */
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #34495E;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
	font-family: Segoe UI;
	font-size: 1em;
	border-right: 1px solid #647070;
	text-shadow: #1A1A1A 0.08em 0.05em 0.08em;
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: white;
        border: none;
        padding: 1em 0 1em 0.6em;
		text-decoration: none;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 1px solid #647070;
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
               background-color: #35afe3;
				background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(69, 199, 235)),to(rgb(38, 152, 219)));
				background-image: -webkit-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
				background-image: -moz-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
				background-image: -o-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
				background-image: -ms-linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
				background-image: linear-gradient(top, rgb(69, 199, 235), rgb(38, 152, 219));
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected
		{
        background: #03C9A9;
		padding-top: 1em;
		}	
	
    #menu .pure-menu-heading a{
        background: #34495E;
		padding-top: 1em;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #fff;
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 1.3em;
		font-family: Segoe UI;
        color: #fff;
        margin: 0;
    }
/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background:  #8099B2;
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #34495E;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 200px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 200px;
    }

    .menu-link {
        position: fixed;
        left: 200px;
        display: none;
    }

    #layout.active .menu-link {
        left: 200px;
    }
}

/*Navigation bar list divider */
li {
	border-bottom: 1px solid #647070;
}
/*Scroll bar*/

/*::-moz-webkit-scrollbar-track
{
/*	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	background-color: gray;
}*/

/*::-moz-webkit-scrollbar
{
	width: 10px;
	background-color: blue;
}

::-moz-webkit-scrollbar-thumb
{
	background-color: yellow;

/*	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));

}
/* test test test*/
